* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header {
  height: 5rem;
  width: 100%;
  background: url(../images/index/logo.jpg) no-repeat 14% 50%;
  background-size: 8rem 2.8rem;
  background-color: #FF8A00;
}
header ul {
  float: right;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 5%;
}
header ul li {
  width: 20%;
  height: 50%;
  list-style: none;
}
header ul li img {
  display: inline-block;
  width: 2rem;
  height: 2.5rem;
  margin-top: 1.3rem;
}
main {
  width: 100%;
}
main p {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
}
main p span:first-of-type {
  font-weight: 700;
}
main .bgc {
  width: 100%;
  height: 10rem;
  background: url(../images/my/bg2.png) no-repeat;
  text-align: center;
  color: white;
  background-size: cover;
}
main .bgc img {
  display: inline-block;
  width: 4rem;
  margin-top: 2rem;
}
main ul {
  width: 100%;
  border-bottom: 2px solid #E5E5E5;
}
main ul li:first-of-type {
  border-top: none;
}
main ul li {
  margin: 0 auto;
  width: 90%;
  outline: none;
  border: none;
  height: 3rem;
  line-height: 3rem;
  border-top: 2px solid #E5E5E5;
  list-style: none;
  background: url(../images/my/right.png) no-repeat 95% 1rem;
  background-size: 0.4rem 0.8rem;
}
main ul li a {
  display: inline-block;
  width: 100%;
  color: #686868;
  font-size: 0.8rem;
}
footer {
  width: 100%;
  height: 20rem;
  background-color: #F5F5F5;
  border-bottom: 1px solid #DFDFE1;
}
footer button {
  width: 90%;
  height: 3rem;
  margin: 1rem 1.2rem;
  outline: none;
  background-color: white;
  border: 1px solid #EAEAEA;
  color: #FF8A00;
  font-size: 0.8rem;
}
